<h1 class="display-4"><%= t('titles.event.pincode_only') %></h1>

<%= form_for @event, method: 'post', data: {turbo: false} do %>
  <div class="form-group">
    <%= label t('activerecord.attributes.event.pincode'), :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions mt-2 mb-2">
    <%= submit_tag t('buttons.send'), class: 'btn btn-dark' %>
  </div>
<% end %>

<%= link_to t('buttons.event.index'), events_path %>
