<div class="event">
  <div class="event-info row">
    <div class="col-md-12">
      <%= content_tag 'div', '',
                      class: 'event-background',
                      style: "background-image: url(#{event_lg_thumb(@event)})" %>

      <div class="event-info-inner row">
        <div class="col-md-8">
          <div class="event-description">
            <h1 class="display-1"><%= @event.title %></h1>
            <h3 class="display-6"><%= l(@event.datetime, format: :long) %></h3>
            <h3>
              <small>
                <%= link_to @event.address, "https://yandex.ru/maps/?text=#{@event.address}",
                                 title: t('messages.user.yandex_maps'),
                                 class: "fw-light text-warning" %>
              </small>
            </h3>
            <p class="ms-2"><%= @event.description %></p>
          </div>
          <% if current_user_can_edit?(@event) %>
            <div class="d-inline-flex buffer-both">
              <%= link_to t('buttons.event.edit'), edit_event_path(@event),
                            class: 'btn btn-light me-2' %>
              <%= button_to t('buttons.event.destroy'), event_path(@event),
                          method: :delete,
                          form: { data: { turbo_confirm: t('buttons.destroy_confirm') } },
                          class: "btn btn-outline-danger" %>
            </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <div class="event-owner m-4">
            <span class="fw-semibold"><%= t('titles.event.author') %></span>
            <div class="bg-light rounded p-1"><%= render partial: 'users/user', object: @event.user %></div>
          </div>
          <div class="event-visitors m-4">
            <span class="fw-semibold"><%= t('titles.event.visitors_count') %></span>
            <p class="display-6"><%= @event.sub_count %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3 class="display-6"><%= t('titles.event.photos', count: @event.photo_count) %></h3>
      <div class="event-photos">
        <% if user_can_add_photo?(@event) %>
          <div class="event-photo-form mb-2">
            <%= render partial: 'photos/form', locals: { photo: @new_photo || @event.photos.build} %>
          </div>
        <% end %>
        <div class="event-photos-gallery">
          <% if @event.photos.except(@new_photo).any? %>
            <div class="d-flex flex-wrap mb-2" data-lightbox="set">
              <% @event.photos.persisted.each do |photo| %>
                <div class="mt-2 mb-1 mx-2">
                  <%= render partial: 'photos/photo', object: photo %>
                </div>
              <% end %>
            </div>
          <% else %>
            <p><%= t('messages.event.no_photos') %></p>
          <% end %>
        </div>
      </div>

      <h3 class="display-6"><%= t('titles.event.comments', count: @event.comment_count) %></h3>
      <div class="event-comments buffer-top">
        <div class="buffer-both">
          <% if @event.comments.except(@new_comment).any? %>
            <%= render partial: 'comments/comment',
                      collection: @event.comments.except(@new_comment) %>
          <% else %>
            <p><%= t('messages.event.no_comments') %></p>
          <% end %>
          <%= render partial: 'comments/form',
                     locals: {comment: @new_comment || @event.comments.build} %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <% unless @event.user == current_user %>
        <div class="event-subscription-form mb-2">
          <h4><%= t('titles.event.subscribe_form') %></h4>
          <div>
            <%= render partial: 'subscriptions/form', locals: {
                    subscription: @new_subscription || @event.subscriptions.build
            } %>
          </div>
        </div>
      <% end %>
      <div>
        <h4><%= I18n.t('titles.event.address') %></h4>
        <div id='map' data-address='<%= @event.address %>' data-controller='map' class='event-map'></div>
      </div>

      <div class="event-subscriptions">
        <h4><%= t('titles.event.subscribers') %></h4>
        <div>
          <% if @event.subscriptions.except(@new_subscription).any? %>
            <p>
              <%= render partial: 'subscriptions/subscription',
                         collection: @event.subscriptions.except(@new_subscription) %>
            </p>
          <% else %>
            <p><%= t('messages.event.no_subscribers') %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "map" %>
<%= javascript_include_tag "lightbox" %>
