<%= form_for [@event, subscription], data: { turbo: false } do |f| %>
  <%= render partial: 'partials/form_errors', locals: { model: subscription } %>

  <% if user_signed_in? %>
    <%= f.hidden_field :user_name, value: current_user.name %>
    <%= f.hidden_field :user_email, value: current_user.email %>
  <% else %>
    <div class="form-group">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>
    </div>

    <div class="form-group mb-2">
      <%= f.label :user_email %>
      <%= f.text_field :user_email, class: 'form-control' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('buttons.event.subscription.create'), class: 'btn btn-outline-dark' %>
  </div>
<% end %>
