<h2 class="display-4"><%= I18n.t('titles.user.sign_in') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="col-md-9">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
                        class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password",
                           class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field form-check form-switch buffer-top">
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me,
                        class: "form-check-input" %>

      </div>
    <% end %>

    <div class="actions buffer-both">
      <%= f.submit I18n.t('buttons.user.log_in'), class: "btn btn-dark" %>

    </div>
  </div>
<% end %>

<%= button_to t('buttons.login_with.google'), user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "btn btn-outline-dark" %>


<%= render "devise/shared/links" %>
